@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
h1 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 48px;
  color: brown;
  text-shadow: 2px 2px 8px #1f1e1e;
}

h2 {
  color: brown;
  font-family: "Playfair Display", serif;
  font-style: italic;
}

h3 {
  font-family: "Playfair Display", serif;
  color: brown;
  font-size: 28px;
  font-style: italic;
}

h4 {
  font-family: "Playfair Display", serif;
  font-style: oblique;
  font-size: 23px;
  color: rgb(172, 40, 40);
  margin: 10px 0;
}

h6 {
  font-size: 12px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
  color: #ffffff;
}

li {
  list-style-type: none;
}

html {
  height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
  background: #eee;
  position: relative;
  min-height: 100vh;
}

main {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 1rem;
}

span {
  font-family: "Playfair Display", serif;
  margin: 10px;
  font-size: 19px;
}

p {
  font-family: "Raleway", sans-serif;
}

.boton {
  margin: 10px;
  padding: 8px 16px;
  background-color: black;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 15px;
  border-radius: 7px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

header {
  display: flex;
  flex-flow: column wrap;
}
header #logo {
  height: 27px;
}
header #title {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #title #tright {
  display: flex;
}
header #title #tright .formFlex {
  display: flex;
  align-items: center;
}
header #title #tleft {
  width: 262px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #title #tleft .boton {
  padding: 3px 16px 8px 7px;
}

@media (max-width: 728px) {
  header #title #tleft {
    display: none;
  }
  header #title #tright .formFlex {
    display: none;
  }
}
#logo {
  height: 27px;
}

#cart {
  position: relative;
  padding: 4px;
}

#numeroPeque {
  position: absolute;
  top: 0;
  left: 10%;
  background: #198754;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2px;
  font-family: inherit;
  font-size: 14px;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/*barra Buscador con JS*/
#datalistSuggestions {
  position: absolute;
  color: white;
  background-color: #708090;
  max-height: 250px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  padding: 2px;
  border-radius: 5px;
}

#searchInputBox.active #datalistSuggestions {
  opacity: 1;
  pointer-events: auto;
  padding: 6px 8px;
}
#searchInputBox.active #datalistSuggestions li {
  display: block;
}

#datalistSuggestions li {
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  display: none;
}

form #searchButton.boton {
  margin: 0;
  padding: 6px 19px;
  font-size: 16px;
  font-family: inherit;
  color: #198754;
  box-shadow: none;
  cursor: pointer;
}

#searchButton.boton:hover {
  color: white;
}

.seccion {
  justify-content: space-evenly;
  border-width: 1px;
  border-color: #D6D6D6;
  padding: 0 0 0;
}

#destacados {
  margin: 5px;
  padding: 5px;
}

#lasTarjetas {
  padding: 15px;
}

/* Featurettes
    ------------------------- */
.featurette {
  margin: 5px;
  padding: 5px;
}

.featurette-divider {
  margin: 3rem 0;
  overflow-x: hidden;
}

.featurette-heading {
  letter-spacing: -0.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
@media (max-width: 728px) {
  .carousel-inner {
    display: none;
  }
}
#frontNovedades {
  padding-bottom: 6rem;
}

.carousel {
  margin-bottom: 4rem;
}
.carousel h1 {
  color: #ffffff;
  font-size: calc(1.375rem + 1.5vw);
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item img {
  height: 100%;
  width: 100%;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

body {
  -display: grid;
}

#page-content {
  display: grid;
  grid-gap: 2.5rem;
  padding: 1rem;
  max-width: 1276px;
  margin: 0 auto;
  font-family: var(--font-sans);
  place-items: center;
}
#page-content h2 {
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}
@media (min-width: 600px) {
  #page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  #page-content {
    grid-template-columns: repeat(5, 1fr);
  }
}

.card2 {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card2 {
    height: 350px;
  }
}
.card2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card2:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.009) 11.7%, hsla(0, 0%, 0%, 0.034) 22.1%, hsla(0, 0%, 0%, 0.072) 31.2%, hsla(0, 0%, 0%, 0.123) 39.4%, hsla(0, 0%, 0%, 0.182) 46.6%, hsla(0, 0%, 0%, 0.249) 53.1%, hsla(0, 0%, 0%, 0.32) 58.9%, hsla(0, 0%, 0%, 0.394) 64.3%, hsla(0, 0%, 0%, 0.468) 69.3%, hsla(0, 0%, 0%, 0.54) 74.1%, hsla(0, 0%, 0%, 0.607) 78.8%, hsla(0, 0%, 0%, 0.668) 83.6%, hsla(0, 0%, 0%, 0.721) 88.7%, hsla(0, 0%, 0%, 0.762) 94.1%, hsla(0, 0%, 0%, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.content2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content2 > * + * {
  margin-top: 1rem;
}

.title2 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy2 {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn2 {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn2:hover {
  background-color: #0d0d0d;
}
.btn2:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card2:after {
    transform: translateY(0);
  }
  .content2 {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content2 > *:not(.title2) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .card2:hover,
  .card2:focus-within {
    align-items: center;
  }
  .card2:hover:before,
  .card2:focus-within:before {
    transform: translateY(-4%);
  }
  .card2:hover:after,
  .card2:focus-within:after {
    transform: translateY(-50%);
  }
  .card2:hover .content2,
  .card2:focus-within .content2 {
    transform: translateY(0);
  }
  .card2:hover .content2 > *:not(.title2),
  .card2:focus-within .content2 > *:not(.title2) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .card2:focus-within:before, .card2:focus-within:after,
  .card2:focus-within .content2,
  .card2:focus-within .content2 > *:not(.title2) {
    transition-duration: 0s;
  }
}
#aboutPage {
  background-image: url(../img/bg3.jpg);
  background-size: cover;
}

#aboutUs div {
  padding: 15px;
  text-shadow: 2px 2px 4px #000000;
  display: flex;
  align-items: center;
}
#aboutUs div img {
  padding: 20px;
  border-style: solid;
  border-color: #FFD93D;
  border-width: 10px;
}
#aboutUs article {
  padding: 25px;
  color: #ffffff;
  font-size: 19px;
}
#aboutUs article h2 {
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 10px;
}

#promo h1 {
  color: black;
  text-align: left;
}

.book {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  height: 100%;
  box-shadow: 0 0 20px #aaa;
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  transition: height 1s;
}

.cover {
  border: 2px solid gray;
  height: 80%;
  overflow: hidden;
  position: relative;
}

.cover img {
  width: 100%;
}

.textMedio {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

button .textCover {
  background-color: #198754;
  color: white;
  font-size: 14px;
  padding: 12px 28px;
  text-shadow: 2px 2px 4px #000000;
}

.imgBook {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.cover:hover .imgBook {
  opacity: 0.3;
}

.cover:hover .textMedio {
  opacity: 1;
}

.book p {
  margin-top: 12px;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

.book .author {
  font-size: 15px;
  font-family: "Garabito", sans-serif;
  font-weight: bold;
}

@media (max-width: 941px) {
  .container {
    max-width: 700px;
  }
  .book {
    margin: 49px;
  }
}
@media (max-width: 730px) {
  .book {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
}
.list-th {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#list-th:target .book {
  height: 100px;
  width: 250px;
  padding: 10px;
  margin: 25px auto 25px auto;
}

#list-th:target .cover {
  width: 246px;
}

#list-th:target img {
  opacity: 0.1;
}

#list-th:target p {
  margin-top: -62px;
  margin-left: 20px;
}

#large-th:target .book {
  height: 390px;
}

#large-th h2 {
  color: #000000;
  text-shadow: 2px 2px 8px #1f1e1e;
}

#cards_landscape_wrap-2 {
  text-align: center;
  background: #F7F7F7;
}

#cards_landscape_wrap-2 .container {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #eee;
}

#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  width: 100%;
  height: 200px;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}

#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  height: 200px;
  overflow: hidden;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto Black", sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

#cards_landscape_wrap-2 .container {
  padding-top: 0px;
  padding-bottom: 80px;
}

.card-flyer .text-box #tresLineas h6 {
  font-size: 16px;
}

@media (max-width: 728px) {
  #sideBar {
    padding-left: 40px;
    overflow-x: hidden;
  }
  #promo {
    display: none;
  }
}
.disabled {
  display: none;
}

#productoComprasPage {
  background-image: url("https://assets-susanwiggs.sfo2.cdn.digitaloceanspaces.com/2020/05/storefront-scaled.jpg");
  background-size: cover;
}

#seccionCompras #seccionCompras-carrito h1 {
  font-size: calc(1.375rem + 1.5vw);
  font-family: "Merriweather", serif;
  text-shadow: none;
}
#seccionCompras .pt-5 h6 {
  text-align: left;
}
#seccionCompras #seccionCompras-carrito-resumen {
  color: #ffffff;
}
#seccionCompras #seccionCompras-carrito-resumen h3 {
  color: #ffffff;
}
#seccionCompras #seccionCompras-carrito-resumen .boton {
  padding: 11px 21px;
}

.seccionComprasRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-registration {
  padding-bottom: 0;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

#resumen h3, #resumen h5, #resumen hr, #resumen label {
  color: #ffffff;
  text-shadow: 2px 2px 8px #1f1e1e;
}

.bg-grey {
  background-image: url(../img/img1.jfif);
}

@media (min-width: 992px) {
  .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
@media (max-width: 991px) {
  .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
#producto {
  padding: 30px;
  align-items: center;
}

#imgProduc {
  display: grid;
  place-items: center;
}

#descriProd > h2 {
  font-size: 28px;
  text-align: center;
}

#descriProd > p {
  padding: 20px 0 0;
  text-align: justify;
}

#descriProd > span {
  margin: 50px;
  font-size: 21px;
}

#prodForm {
  display: flex;
  align-items: center;
}

#prodForm input {
  max-width: 3rem;
  max-height: 2rem;
  text-align: center;
}

.contacto {
  font-family: "Playfair Display", serif;
  padding: 20px 0;
}
.contacto h5 {
  font-size: 16px;
  padding-top: 3px;
}
.contacto h3 {
  color: #ffffff;
  font-family: "Playfair Display", serif;
}
.contacto ul li span {
  width: auto;
  padding: 0%;
  margin: 0%;
  font-size: 16px;
}
.contacto ul li span i {
  font-size: 16px;
  color: #ffffff;
  padding-top: 6px;
}
.contacto #radios {
  padding: 5px;
  color: #505356;
}

.gradient-brand-color {
  background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
  color: #ffffff;
  background-image: url(../img/img1.jfif);
}

.contact-info__wrapper {
  overflow: hidden;
  border-radius: 0.625rem 0.625rem 0 0;
}

@media (min-width: 1024px) {
  .contact-info__wrapper {
    border-radius: 0 0.625rem 0.625rem 0;
    padding: 5rem !important;
  }
}
.contact-info__list span.position-absolute {
  left: 0;
}

.z-index-101 {
  z-index: 101;
}

.list-style--none {
  list-style: none;
}

.contact__wrapper {
  background-color: #fff;
  border-radius: 0 0 0.625rem 0.625rem;
}

@media (min-width: 1024px) {
  .contact__wrapper {
    border-radius: 0.625rem 0 0.625rem 0.625rem;
  }
}
@media (min-width: 1024px) {
  .contact-form__wrapper {
    padding: 5rem !important;
  }
}
.shadow-lg,
.shadow-lg--on-hover:hover {
  box-shadow: 0 1rem 3rem rgba(132, 138, 163, 0.1) !important;
}

footer {
  background-color: #eee;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
footer .featurette-divider {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
footer a {
  color: black;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
