
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}


.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/*barra Buscador con JS*/


#datalistSuggestions {
  position: absolute;
  color: white;
  background-color: #708090;
  max-height: 250px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  padding: 2px;
  border-radius: 5px;
}

#searchInputBox.active #datalistSuggestions {
  opacity: 1;
  pointer-events: auto;
  padding: 6px 8px;
  li {
    display: block;
  }
}

#datalistSuggestions li {
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  display: none;
}
form #searchButton.boton {
  margin: 0;
  padding: 6px 19px;
  font-size: 16px;
  font-family: inherit;
  color:#198754;
  box-shadow: none;
  cursor: pointer;
  
}
#searchButton.boton:hover{
  color: white;
}


.seccion {
  justify-content: space-evenly;
  border-width: 1px;
  border-color: #D6D6D6;
  padding: 0 0 0;
}

#destacados {
  margin: 5px;
  padding: 5px;
}

#lasTarjetas {
  padding: 15px;
}


/* Featurettes
    ------------------------- */
.featurette {
  margin: 5px;
  padding: 5px;
}

.featurette-divider {
  margin: 3rem 0;
  overflow-x: hidden;

}

.featurette-heading {
  letter-spacing: -.05rem;
}


@media (min-width: 40em) {
  

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }

}

@media (max-width: 728px) {

  .carousel-inner {
    display: none;
  }
}
#frontNovedades{
  padding-bottom: 6rem;
}