header {
    display: flex;
    flex-flow: column wrap;

    #title {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #tright {
            display: flex;

            .formFlex {
                display: flex;
                align-items: center;
            }

        }

        #tleft {
            width: 262px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .boton {
                padding: 3px 16px 8px 7px;
            }
        }
    }

}

.navbar {
    margin-bottom: 20px;
    font-size: 19px;
}

@media (max-width: 728px) {
    header {
        #title {
            #tleft {
                display: none
            }

            #tright {
                .formFlex {
                    display: none;
                }
            }
        }
    }
}