  

  .carousel {
    h1{
        color: $color_w;
        font-size: calc(1.375rem + 1.5vw);
    }
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item img{
    height: 100%;
    width: 100%;
  }